// ...
/*STRS*/import { BookListComponent } from './book-list/book-list.component';
import { BookListItemComponent } from './book-list-item/book-list-item.component';
import { BookDetailsComponent } from './book-details/book-details.component';/*STRE*/

@NgModule({
  declarations: [
    AppComponent,
    /*STRS*/BookListComponent,/*STRE*/
    /*STRS*/BookListItemComponent,/*STRE*/
    /*STRS*/BookDetailsComponent,/*STRE*/
    BooksModule
  ],
  // ...
})
export class AppModule { }
